@media screen  and (max-width: 385px) {
  .nav {
    background-color: #1c9152;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
}

@media screen  and (min-width: 385px) {
  .nav {
    background-color: #1c9152;
  display: flex;
  justify-content: space-around;
  
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
}

