.LoginBox{
    width: 100%;
    margin: auto;
}
#googleBox{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    padding: 8px 0px;
    font-weight: 100px;
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    
}
#googleBox>div:first-child{
    margin-left:-25px;
   
}

#googleBox>div:last-child{
    margin-left:-50px;
   
}